header {
  background: #5851ff;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 10px 24px;
}

.titulo {
  margin-left: 1%;
}

.main-container {
  color: white;
  background-color: black;
  height: 400px;
}

.tagGrupo9 {
  padding-top: 20px;
}